<div id="footer">
	<hr />
	<table style="width:100%">
		<tr>
			<td><%= link_to 'Home Page', 'index.html' %></td>
			<td><%= link_to 'Publications','http://web.cse.ohio-state.edu/~jwdavis/publications.html' %></td>
			<td><%= link_to 'People','http://web.cse.ohio-state.edu/~jwdavis/people.html' %></td>
		</tr>
		<tr>
			<td><%= link_to 'Teaching','http://web.cse.ohio-state.edu/~jwdavis/teaching.html' %></td>
			<td><%= link_to 'Pictures','http://web.cse.ohio-state.edu/~jwdavis/picts.html' %></td>
			<td><%= link_to 'Jim Davis\' Original Page','http://web.cse.ohio-state.edu/~jwdavis/jwdavis.html' %></td>
		</tr>
	</table>
</div>
