<title>Too Cool Programmers Redesign of Jim Davis' website!</title>

<!--Start of Body-->
  <h1>Welcome to Jim Davis' page</h1>
  <br />
  <%= image_tag '/images/jwdavis-dispatch.jpg', :alt=>'Jim Davis', :width=>'450' %>
 
  <div>
  	<font color ="black" size="0" face= "arial"> Photo by Tom Dodge, Columbus Dispatch, 2009</font> 
  </div>
  <h2 class="top">*** PLEASE NOTE THAT PROF. DAVIS WILL BE AWAY ON SABBATICAL FOR THE 2015-2016 ACADEMIC YEAR *** </h2>
  
<TD BGCOLOR="#8F1001">
<FONT FACE="verdana, arial" SIZE="+2" COLOR="white"><B>Jim Davis</B></FONT> 
&nbsp;<FONT FACE="verdana, arial" SIZE="-1" COLOR="white">Ph.D. MIT, 2000
<BR>
<A HREF="http://www.cse.ohio-state.edu">Dept. of Computer Science and Engineering</A>
<BR>
491 Dreese Laboratories, 2015 Neil Avenue
<BR>
<A HREF="http://www.osu.edu">Ohio State University</A>
<BR>
Columbus, OH 43210
<BR>
Office: 614-292-1553 (Lab: 614-292-5137)
<BR>
Fax: 614-292-2911
<BR>
<A HREF="javascript:window.location='mailto:jwdavis' + '@' + 'cse.ohio-state.edu'">jwdavis<IMG SRC="at.gif" BORDER="0">cse.ohio-state.edu</A>
<BR>
http://www.cse.ohio-state.edu/~jwdavis
<br>
[<a href="directions.html">Directions</a>]

</FONT>
</TD>
</TR>
</TABLE>

<BR>

<TABLE WIDTH="100%" BORDER="2" CELLPADDING="9" CELLSPACING="0">
<TR>
<TD BGCOLOR="#ffffff">
<BR>
<FONT FACE="verdana, arial" SIZE="3"><B>*** PLEASE NOTE THAT PROF. DAVIS WILL BE AWAY ON SABBATICAL FOR THE 2015-2016 ACADEMIC YEAR ***</B></FONT>
<BR>
<BR>
<FONT FACE="verdana, arial" SIZE="3"><B>Appointments</B></FONT>
<BR>
<TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0">
<TR>
<TD><FONT FACE="verdana, arial" SIZE="-1">
<UL>
<LI>2013 - present: Full Professor, <A HREF="http://www.cse.ohio-state.edu/">Dept. of Computer Science and Engineering</A>, OSU</LI>
<LI>2005 - 2013: Associate Professor, <A HREF="http://www.cse.ohio-state.edu/">Dept. of Computer Science and Engineering</A>, OSU</LI>
<LI>2000 - 2005: Assistant Professor, <A HREF="http://www.cse.ohio-state.edu/">Dept. of Computer Science and Engineering</A>, OSU</LI>
<LI>2004 - present: Faculty Member, <A HREF="http://ergonomics.osu.edu">Institute for Ergonomics</a>, OSU</LI>
<LI>2000 - present: Faculty Member, <A HREF="http://www.cog.ohio-state.edu/">Center for Cognitive Science</a>, OSU</LI>
<LI>2000 - present: Affiliated Faculty, <A HREF="http://www.accad.ohio-state.edu/">Advanced Computing Center for the Arts & Design</A>, OSU</LI>
</UL>
</TD>
</TR>
</TABLE>

<P>

<FONT FACE="verdana, arial" SIZE="3"><B>Research Interests</B></FONT>
<BR>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0">
<TR>
<TD VALIGN="top" ALIGN="center">&nbsp;&nbsp;&nbsp;&nbsp;<IMG SRC="videoSurveillance_small.jpg" BORDER="1" WIDTH="100">
<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>Video</b>
<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>Surveillance</b>
</TD>
<TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD>
<FONT FACE="verdana, arial" SIZE="-1">
Prof. Jim Davis, Dept. of Computer Science and Engineering, 
is developing <b>advanced video surveillance</b> systems that use 
computers equipped with video cameras to not only detect the presence 
of people and track them, but also to identify their activities. The research has broad 
implications for Homeland Security as well as search and rescue, border 
patrol, law enforcement and many other types of military applications. 
The systems combine video cameras with machine learning 
methods, enabling the computer to perform the kind of visual 
recognition that seems effortless for humans. Davis' work in 
investigating computer vision methods was recognized by 
the National Science Foundation with the prestigious NSF Faculty 
Early Career Development (CAREER) Program award. 
Support for this research (past and present) has been provided by the
National Science Foundation, U.S. Air Force, Los Alamos National Lab, U.S. Army Night Vision Laboratory, Intel, and Ohio Board of Regents.
<p>
Technical Areas: 
<a href="http://www.cs.cmu.edu/afs/cs/project/cil/ftp/html/vision.html">Computer Vision</a>, 
<a href="http://www.visionscience.com/">Visual Perception</a>, 
<a href="http://www1.acm.org/sigs/sigchi/">Human-Computer Interaction</a>, 
<a href="http://accad.osu.edu/research/mocap/">Motion Capture</a>, 
<a href="http://www.aaai.org/">Artificial Intelligence</a>. 
</TD>
</TR>
</TABLE>


 <%= link_to 'Jim Davis\' Original Page','http://web.cse.ohio-state.edu/~jwdavis/jwdavis.html' %>

 <%= link_to 'Media Page', 'media.html' %>

 <%= link_to 'Recent News Page', 'news.html' %>

<%=partial "footer" %>
<!--End of Body-->
